In [136]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC, NuSVC

1 = Karma
2 = Rosa
3 = Canadian

In [137]:
df = pd.read_table('seeds_dataset.txt', sep='\s+', header=None)
df.head()

       0      1       2      3      4      5      6  7
0  15.26  14.84  0.8710  5.763  3.312  2.221  5.220  1
1  14.88  14.57  0.8811  5.554  3.333  1.018  4.956  1
2  14.29  14.09  0.9050  5.291  3.337  2.699  4.825  1
3  13.84  13.94  0.8955  5.324  3.379  2.259  4.805  1
4  16.14  14.99  0.9034  5.658  3.562  1.355  5.175  1

# Logistic Regression

In [138]:
lr = LogisticRegression(solver='lbfgs', multi_class='auto')
data = df.values
X = data[:, :-1]
y = data[:,-1]
print(X[:5,:])
print(y[:5])

[[15.26   14.84    0.871   5.763   3.312   2.221   5.22  ]
 [14.88   14.57    0.8811  5.554   3.333   1.018   4.956 ]
 [14.29   14.09    0.905   5.291   3.337   2.699   4.825 ]
 [13.84   13.94    0.8955  5.324   3.379   2.259   4.805 ]
 [16.14   14.99    0.9034  5.658   3.562   1.355   5.175 ]]
[1. 1. 1. 1. 1.]

In [139]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1,stratify=y)
print(X_train.shape)
print(X_test.shape)

(157, 7)
(53, 7)

# Scaling the data

In [140]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [141]:
lr.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [142]:
print(lr.coef_)
print(lr.intercept_)

[[ 0.02866187  0.13036799  0.02870374  1.26747214 -0.09671721 -0.85257739
  -1.78191171]
 [ 1.0026658   0.96410176  0.54375962 -0.05935041  1.04339898  0.33549209
   1.33777067]
 [-1.03132767 -1.09446975 -0.57246336 -1.20812173 -0.94668177  0.5170853
   0.44414104]]
[ 1.33079557 -0.46412561 -0.86666996]

In [143]:
print(lr.score(X_train,y_train))

0.9490445859872612

In [144]:
print(lr.score(X_test,y_test))

0.9056603773584906

# MLP classifier

In [145]:
mlp = MLPClassifier(hidden_layer_sizes=(10,), max_iter=4000, alpha=1e-3,
                    solver='sgd', verbose=False, tol=1e-5, random_state=1,
                    learning_rate_init=.03, warm_start=True)

In [146]:
mlp.fit(X_train, y_train)
print(mlp.score(X_train,y_train))
print(mlp.score(X_test, y_test))

1.0
0.9056603773584906

# Support Vector Machines

In [147]:
svc = SVC(kernel='rbf', gamma=.1, C=1000.)

In [148]:
svc.fit(X_train, y_train)
print("Training set score: %f" % svc.score(X_train, y_train))
print("Testing set score: %f" % svc.score(X_test, y_test))

Training set score: 1.000000
Testing set score: 0.905660